* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input, textarea {
    all:unset;
}

ul {
    text-decoration: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    width: 100%;
}

header {
    background-color: #42424a;
}

button {
    all: unset;
}

.cabecalho {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 20px 0px;
}

.cabecalho .menu-logo a {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875em;
    color: #fff;
}

.cabecalho .menu {
    justify-self: end;
}

.cabecalho .menu li {
    margin: 0 15px;
}

.cabecalho .menu a {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875em;
    color: #fff;
}

.home-section {
    height: 800px;
    background: url("../img/4.jpeg") no-repeat;
    background-size: cover
}

.container {
    margin: 0 auto;
    max-width: 1300px;
}

.overlay {
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6)
}

.home-content {
    padding-top: 200px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color:#fff
}

.home-content h2 {
    margin-bottom: 40px;
    font-size: 3em;
}

.home-content .btns {
    margin-top: 60px;
}

.home-content .btns .btn {
    color: #fff;
    border: 1px solid #ffff;
    padding: 10px 20px;
    border-radius: 6px;
    margin-right: 10px;
    font-size: 0.825em;
}

.btn-white {
    color: #000000 !important;
    background-color: #fff;
    transition: .3s;
}

.btn-white:hover {
    box-shadow: 0 0 20px 1px #fff;
}

footer {
    padding: 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: white;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #344767;
}

.footer-left {
    justify-self: start;
}

.footer-left h4 {
    color: #344767;
    font-weight: 700;
    margin-bottom: 20px;
    
}

.footer-left ul li {
    padding-right: 20px;
    font-size: 0.895rem;
}

.copy {
    display: block;
    padding-top: 20px;
    font-size: 0.895rem;
}

.footer-right {
    justify-self: end;
}

.quote-author {
    display: block;
    margin-top: 20px;
    text-align: right;
}

.pro-section {
    background: url("../img/3.jpeg") no-repeat;
    background-size: cover;
}

.hab-section {
    background: url("../img/4.jpeg") no-repeat;
    background-size: cover;
}

.space {
    padding: 200px 100px 100px 100px;
}

.hab-content {
    padding-top: 20px ;
    background-color: #fff;
    border-radius: 8px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.pro-content {
    padding-top: 20px ;
    background-color: #fff;
    border-radius: 8px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.profile-pic {
    display:block;
    margin: 0 auto;
    max-width: 100px;
}

.profile-pic img {
    border-radius: 50%;
    margin-top: -50px;
}

.habilidades {
    margin-top: 20px;
}

.profile h2 {
    margin-top: 50px;
    font-size: 1.875em;
    text-align: center;
    font-weight: 600px;
    color: #344767;
}

.profile p {
    text-align: center;
    font-size: 1.12em;
    margin-top: 20px;
    color: #344767;
}

.formacoes, .experiencias {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
}

.formacoes .row, .experiencias .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.formacoes h2, .experiencias h2 {
    color: #344767;
    font-size: 1.875em;
    margin-bottom: 70px;
}

.formacoes h3, .experiencias h3 {
    color: #344767;
    font-size: 1.275em;
    margin-bottom: 10px;
}

.formacoes p, .experiencias p {
    color: #344767;
    margin-bottom: 5px;
}

.formacoes span, .experiencias span {
    display: block;
    color: #1A73E8;
    font-weight: bold;
    margin-bottom: 100px;
}

.portfolio-img img {
    border-radius: 8px;
}

.portfolio {
    margin-right: 50px;
    margin-bottom: 100px;
}

.svg {
    width: 20px;
    margin-right: 10px;
}
.svg svg {
    filter: invert(100%)
}

.contact-content {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.contatos {
    background-image: url('../img/1.jpeg');
    background-size: cover ;
    color: #fff;
}

.contact-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 20px;
}

.contact-container {
    padding: 200px 50px;
}

.contact-container h2{
    margin-bottom: 20px;
}

.contact-container .contact-sub{
    margin-bottom: 60px;
}

.tel, .email, .endereco {
    display: flex;
    margin-bottom: 10px
}

input {
    display: block ;
    width: 100%;
    border-bottom: 1px solid #cfcfcf;
}

.form-section h2{
    color: #344767;
    font-size: 2.75rem;
    margin-bottom: 100px;
}

.form-section label {
    display: block;
    margin-bottom: 10px
}

.form-section input {
    display: block;
    margin-bottom: 60px
}

.form-section {
    padding: 100px 50px;
}

.form-btn {
    float: right;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #1A73E8;
    color:#fff;
    transition: .3s;
}

.form-btn:hover {
    background-color: #003c8b;
}

@media (max-width: 1350px) {
    .container {
        padding: 20px 50px;
    }
}

@media (max-width: 1000px){
    .formacoes .row, .experiencias .row {
        grid-template-columns: 1fr;
    }
}